@property --dense {
	syntax: "<integer>";
	inherits: true;
	initial-value: 5;
}

/* Custom CSS for Device Image */
.device-image-class {
	margin-right: 0px;
	margin-left: 10px;
	width: 24px;
	height: 24px;
}

.homey-dark-mode img {
	filter: invert(1);
}

/* Layout for Container */
.container1 {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 0px;
	margin-top: 0px;
}

.container2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: var(--dense);
}

.cross {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(-7px, 5px);
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 10px;
	padding-top: 0px;
	font-size: var(--homey-font-size-xlarge);
	font-weight: var(--homey-font-weight-bold);
	font-family: "Arial";
}

.refresh {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 10px;
	padding-top: 0px;
	width: 30px;
	height: 30px;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.rotate {
	animation: rotate 1s linear;
}

.icon-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.refresh {
	margin-right: 30px;
	/* Adjust the spacing as needed */
}

.cross {
	margin-left: 10px;
	/* Adjust the spacing as needed */
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 6px;
	margin-top: -2px;
	color: var(--homey-text-color);
	background-color: rgba(127, 127, 127, 0.5); /* Semi-transparent background */
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	text-shadow: 1px 1px 2px var(--homey-background-color); /* Text shadow for better readability */
}

/* Position the "previous button" to the left */
.prev {
	left: -5px;
	border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
	right: 5px;
	border-radius: 3px 0 0 3px;
}