@property --dense {
	syntax: "<integer>";
	inherits: true;
	initial-value: 5;
}

/* Custom CSS for Device Image */
.device-image-class {
	margin-right: 0px;
	margin-left: 10px;
	width: 24px;
	height: 24px;
}

.homey-dark-mode img {
	filter: invert(1);
}

/* Layout for Container */
.container1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 0px;
	margin-top: 0px;
}

.container2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 0px;
	margin-top: var(--dense);
}

.cross {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(-7px, 5px);
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 10px;
	padding-top: 0px;
	font-size: var(--homey-font-size-xlarge);
	font-weight: var(--homey-font-weight-bold);
	font-family: "Arial";
}

.refresh {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 10px;
	padding-top: 0px;
	width: 30px;
	height: 30px;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.rotate {
	animation: rotate 1s linear;
}

.icon-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.refresh {
	margin-right: 30px;
	/* Adjust the spacing as needed */
}

.cross {
	margin-left: 10px;
	/* Adjust the spacing as needed */
}
